<article class="post <%= "withavatar" if post.avatar? %>" data-id="<%= post.id %>" data-timestamp="<%= post.timestamp %>" data-page="<%= @page %>">
  <% if post.avatar? %>
    <div class="avatar" style="background-image: url(<%= post.avatar_url %>)"></div>
  <% end %>
  <div class="body">
    <h1><a href="<%= post.url %>"><%= post.title %></a></h1>
    <p><%= post.lead_content %></p>
    <div class="metadata"><% if post.author %>by <cite><%= post.author %></cite> &mdash; <% end %><time><%= post.time %></time></div>
    <% if post.comments && !post.comments.empty? %>
    	<% post.comments.each do |comment| %>
  			<%= erb :_inline_comment, locals: { comment: comment } %>
  		<% end %>
  		<div class="comment inline"><div class="metadata"><a href="<%= post.url %>">Read all comments</a></div></div>
    <% end %>
  </div>
</article>
