<article class="post <%= "withavatar" if post.avatar? %>" data-uid="<%= post.uid %>" data-id="<%= post.id %>" data-timestamp="<%= post.timestamp %>" data-page="<%= @page %>" data-doy="<%= post.day_of_year %>">
  <% if post.avatar? %>
    <div class="avatar <%= "approved" if post.approved_user? %>" style="background-image: url(<%= post.avatar_url %>)"></div>
  <% end %>
  <div class="body">
    <h1><a href="<%= post.url %>"><%= post.title %></a></h1>
    <p><%= post.lead_content %> <% if post.more_inside? %><span class="more">[<a href="<%= post.url %>">more inside</a>]</span><% end %></p>
    <div class="metadata"><% if post.author %><cite><% if post.author_link %><%= post.author_link %><% else %><i class="fa fa-user"></i><% end %> <%= post.author %></cite>&nbsp;&nbsp;<% end %><time><%= post.time %></time> <% if post.can_be_edited_by?(current_user) %><div class="tools"><a href="<%= post.url %>?edit=true" class="edit">Edit</a> <a href="#" class="deletepost">Delete</a></div><% end %></div>
    <% if post.comments? %>
    	<% post.comments.to_a.last(4).each do |comment| %>
  			<%= erb :_inline_comment, locals: { comment: comment } %>
  		<% end %>
  		<div class="comment inline more"><i class="fa fa-comments-o"></i>&nbsp;<a href="<%= post.url %>">Read all comments</a></div>
    <% end %>
  </div>
</article>
