<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
  <title><%= @page_title ? @page_title + " - " + SITE_NAME : SITE_NAME %></title>
  <meta name="description" content="<%= @post ? @post.description : SITE_DESCRIPTION %>">
  <%= stylesheet_tag 'app' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= Rack::Csrf.metatag(env) %>
  <link rel="alternate" type="application/rss+xml" title="Feed" href="<%= ENV['BASE_URL'] %>/rss">
  <% if ENV['TYPEKIT_ID'] %><script src="//use.typekit.net/<%= ENV['TYPEKIT_ID'] %>.js"></script><script>try{Typekit.load();}catch(e){}</script><% end %>
  <% if EXTRA_STYLESHEETS %><% [*EXTRA_STYLESHEETS].each do |sheet| %><link rel="stylesheet" href="<%= sheet %>" type="text/css">
  <% end %><% end %>
</head>
<body class="<%= @body_classes.join(' ') %> <%= 'oauth-successful' if flash[:oauth_successful] %> <%= 'admin' if admin? %>">
  <header class="top">
    <div class="inner">
      <div class="menu">
        <ul>
          <% if logged_in? %>
            <li><div class="avatar small" style="background-image: url(<%= current_user.avatar %>)"></div></li>
            <li class="signout"><a href="/logout" title="Sign out"><i class="fa fa-sign-out"></i><span class="optional">Sign out</span></a></li>
          <% end %>
          <li class="rss"><a href="/rss" title="RSS feed"><i class="fa fa-rss"></i><span class="optional">RSS</span></a></li>
          <% if Config[:twitter_username] %><li class="twitter"><a href="https://twitter.com/<%= Config[:twitter_username] %>" title="Twitter"><i class="fa fa-twitter"></i><span class="optional">Twitter</span></a></li><% end %>
          <% if ABOUT_PAGE %><li class="about"><a href="<%= ABOUT_PAGE.url %>" title="About"><i class="fa fa-question"></i><span class="optional"><%= ABOUT_PAGE.title[0,12] %></span></a></li><% end %>
          <li class="submit"><a href="#submitform" class="submit" title="Submit a post"><i class="fa fa-plus"></i><span class="optional">Submit</span></a></li>
        </ul>
      </div>
      <h1><a href="/" title="Homepage"><%= SITE_NAME %></a> <span><%= SITE_DESCRIPTION %></span></h1>
    </div>
  </header>

  <div id="mainarea">
  <%= yield %>
  </div>

  <% if ENV['GOOGLE_ANALYTICS'] %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '<%= ENV['GOOGLE_ANALYTICS'] %>', 'auto');
  ga('send', 'pageview');
  </script>
  <% end %>

  <script>
    var base_url = "<%= ENV['BASE_URL'] %>";
    var ads = [];

    <% Config['ads'].to_a.each do |ad| %>
    ads.push(<%= ad.to_json %>);
    <% end %>
  </script>
  <%= javascript_tag 'app' %>
  <script>
    <% if flash[:notice] %>$.growl.notice({ message: "<%= flash[:notice] %>" });<% end %>
    <% if flash[:error] %>$.growl.error({ message: "<%= flash[:error] %>" });<% end %>
    <% if flash[:warning] %>$.growl.warning({ message: "<%= flash[:warning] %>" });<% end %>
  </script>
</body>
</html>
